# SQLite & SQL Querying with Python
In this notebook our goals are to:
- Connect to a SQLite database (using the Sakila database)
- List all tables in the database
- Retrieve column names from the 'customer' table using PRAGMA
- Execute basic SQL queries to explore and filter data

These notes will help you understand how to interact with SQL using Python.

In [1]:
import sqlite3
import pandas as pd

# Set the path to the SQLite database
db_path = "sakila.db"

# Connect to SQLite database
conn = sqlite3.connect(db_path)
print("Connected to SQLite Sakila database!")

Connected to SQLite Sakila database!

## List all tables in the database
Here we query the 'sqlite_master' table, which holds the schema info inside of the .db file.

In [2]:
# List all tables in the database
tables = pd.read_sql("""SELECT name 
                        FROM sqlite_master 
                        WHERE type='table';""", conn)

print("Tables in the database:")
print(tables)

Tables in the database:
               name
0             actor
1           country
2              city
3           address
4          language
5          category
6          customer
7              film
8        film_actor
9     film_category
10        film_text
11        inventory
12            staff
13            store
14          payment
15           rental
16        customers
17  sqlite_sequence
18       test_table

## Retrieve column names from the 'customer' table using PRAGMA table_info.
- SQLite allows you to inspect table schema with the PRAGMA command.
- For SQLite 3.16 or later, you can query it like a table.

In [3]:
query_sort = """SELECT name 
                FROM pragma_table_info('customer');"""

df_sort = pd.read_sql(query_sort, conn)
print("\nCustomer Table Columns:")
print(df_sort)

Customer Table Columns:
          name
0  customer_id
1     store_id
2   first_name
3    last_name
4        email
5   address_id
6       active
7  create_date
8  last_update

## Basic SELECT: Retrieve all customer data
This query selects all columns and rows from the 'customer' table.

In [4]:
query_all = """SELECT * 
               FROM customer"""
df_all = pd.read_sql(query_all, conn)
print("All Customers:")
print(df_all)

All Customers:
     customer_id  store_id first_name  last_name  \
0              1         1       MARY      SMITH
1              2         1   PATRICIA    JOHNSON
2              3         1      LINDA   WILLIAMS
3              4         2    BARBARA      JONES
4              5         1  ELIZABETH      BROWN
..           ...       ...        ...        ...
594          595         1   TERRENCE  GUNDERSON
595          596         1    ENRIQUE   FORSYTHE
596          597         1    FREDDIE     DUGGAN
597          598         1       WADE   DELVALLE
598          599         2     AUSTIN    CINTRON

                                     email  address_id active  \
0            MARY.SMITH@sakilacustomer.org           5      1
1      PATRICIA.JOHNSON@sakilacustomer.org           6      1
2        LINDA.WILLIAMS@sakilacustomer.org           7      1
3         BARBARA.JONES@sakilacustomer.org           8      1
4       ELIZABETH.BROWN@sakilacustomer.org           9      1
..                                     ...         ...    ...
594  TERRENCE.GUNDERSON@sakilacustomer.org         601      1
595    ENRIQUE.FORSYTHE@sakilacustomer.org         602      1
596      FREDDIE.DUGGAN@sakilacustomer.org         603      1
597       WADE.DELVALLE@sakilacustomer.org         604      1
598      AUSTIN.CINTRON@sakilacustomer.org         605      1

                 create_date          last_update
0    2006-02-14 22:04:36.000  2021-03-06 15:53:36
1    2006-02-14 22:04:36.000  2021-03-06 15:53:36
2    2006-02-14 22:04:36.000  2021-03-06 15:53:36
3    2006-02-14 22:04:36.000  2021-03-06 15:53:36
4    2006-02-14 22:04:36.000  2021-03-06 15:53:36
..                       ...                  ...
594  2006-02-14 22:04:37.000  2021-03-06 15:53:41
595  2006-02-14 22:04:37.000  2021-03-06 15:53:41
596  2006-02-14 22:04:37.000  2021-03-06 15:53:41
597  2006-02-14 22:04:37.000  2021-03-06 15:53:41
598  2006-02-14 22:04:37.000  2021-03-06 15:53:41

[599 rows x 9 columns]

## Filtering data: Retrieve only active customers.
- The WHERE clause filters records where the 'active' column equals 1.

In [5]:
query_filter = """SELECT last_name, first_name, active 
                    FROM customer 
                    WHERE active = 1"""

df_filter = pd.read_sql(query_filter, conn)
print("\nCustomers Who Are Active:")
print(df_filter)

Customers Who Are Active:
     last_name first_name active
0        SMITH       MARY      1
1      JOHNSON   PATRICIA      1
2     WILLIAMS      LINDA      1
3        JONES    BARBARA      1
4        BROWN  ELIZABETH      1
..         ...        ...    ...
579  GUNDERSON   TERRENCE      1
580   FORSYTHE    ENRIQUE      1
581     DUGGAN    FREDDIE      1
582   DELVALLE       WADE      1
583    CINTRON     AUSTIN      1

[584 rows x 3 columns]

## Sorting data: Order customers by the last_update field in descending order.
- Sorting is useful to see the most recent updates first.
- Only show the first 10 entries.

In [6]:
query_sort = """SELECT last_name, first_name, last_update
                FROM customer 
                ORDER BY last_update DESC
                LIMIT 10"""

df_sort = pd.read_sql(query_sort, conn)
print("\nCustomers Ordered by Age (Desc):")
print(df_sort)

Customers Ordered by Age (Desc):
   last_name first_name          last_update
0       TEEL   SALVADOR  2021-03-06 15:53:41
1   SWAFFORD      PERRY  2021-03-06 15:53:41
2    STCLAIR       KIRK  2021-03-06 15:53:41
3  STANFIELD     SERGIO  2021-03-06 15:53:41
4     OCAMPO     MARION  2021-03-06 15:53:41
5   HERRMANN      TRACY  2021-03-06 15:53:41
6     HANNON       SETH  2021-03-06 15:53:41
7  ARSENAULT       KENT  2021-03-06 15:53:41
8      ROUSH   TERRANCE  2021-03-06 15:53:41
9  MCALISTER       RENE  2021-03-06 15:53:41

# Group Exercises
- Find a neighbor, yes, move around and make a new friend!
- Work through the following practice exercises together.

## 1. Explore the actor Table
- 1. Write a query to display all columns for every actor in the actor table.

- 2. Show only the actor_id, first_name, and last_name columns, and sort by last_name in ascending order.

In [7]:
query_sort = """
SELECT actor_id, first_name, last_name 
FROM actor 
ORDER BY last_name;
"""

df_sort = pd.read_sql(query_sort, conn)
print("\nCustomers Ordered Last Name:")
print(df_sort)

Customers Ordered Last Name:
     actor_id first_name  last_name
0          58  CHRISTIAN     AKROYD
1          92    KIRSTEN     AKROYD
2         182     DEBBIE     AKROYD
3         118       CUBA      ALLEN
4         145        KIM      ALLEN
..        ...        ...        ...
195       156        FAY       WOOD
196        63    CAMERON       WRAY
197        85     MINNIE  ZELLWEGER
198       111    CAMERON  ZELLWEGER
199       186      JULIA  ZELLWEGER

[200 rows x 3 columns]

## 2. Filter and Sort Data in the film Table
1. Films with a Specific Rating
- Return the film_id, title, and rating of all films where rating = 'PG'.
- Bonus: Are there films "greater than (>)" 'PG'?

2. Films with Rental Rate Above 2.99
- Display the film_id, title, rental_rate, and length for films where the rental_rate is greater than 2.99. Sort them by the shortest length to longest.

3. Longest Films
- List the top 15 longest films (by length), showing title and length. Sort them from longest to shortest.

In [8]:
query_sort = """
SELECT film_id, title, rating 
FROM film 
WHERE rating = 'PG';
"""

df_sort = pd.read_sql(query_sort, conn)
print("\nFilms Rated PG:")
print(df_sort)

Films Rated PG:
     film_id                 title rating
0          1      ACADEMY DINOSAUR     PG
1          6          AGENT TRUMAN     PG
2         12        ALASKA PHANTOM     PG
3         13           ALI FOREVER     PG
4         19          AMADEUS HOLY     PG
..       ...                   ...    ...
189      980    WIZARD COLDBLOODED     PG
190      983             WON DARES     PG
191      985  WONDERLAND CHRISTMAS     PG
192      987          WORDS HUNTER     PG
193      991          WORST BANGER     PG

[194 rows x 3 columns]

In [9]:
query_sort = """
SELECT film_id, title, rental_rate, length 
FROM film 
WHERE rental_rate > 2.99 
ORDER BY length;
"""

df_sort = pd.read_sql(query_sort, conn)
print("\nFilms with rental_rate > 2.99")
print(df_sort)

Films with rental_rate > 2.99
     film_id                title  rental_rate  length
0        469            IRON MOON         4.99      46
1        398       HANOVER GALAXY         4.99      47
2          2       ACE GOLDFINGER         4.99      48
3        575  MIDSUMMER GROUNDHOG         4.99      48
4        670     PELICAN COMFORTS         4.99      48
..       ...                  ...          ...     ...
331      141        CHICAGO NORTH         4.99     185
332      182       CONTROL ANTHEM         4.99     185
333      212       DARN FORRESTER         4.99     185
334      426            HOME PITY         4.99     185
335      817   SOLDIERS EVOLUTION         4.99     185

[336 rows x 4 columns]

In [10]:
query_sort = """
SELECT film_id, title, length 
FROM film 
ORDER BY length DESC
LIMIT 15;
"""

df_sort = pd.read_sql(query_sort, conn)
print("\nTop 10 Longest Films")
print(df_sort)

Top 10 Longest Films
    film_id               title  length
0       141       CHICAGO NORTH     185
1       182      CONTROL ANTHEM     185
2       212      DARN FORRESTER     185
3       349         GANGS PRIDE     185
4       426           HOME PITY     185
5       609       MUSCLE BRIGHT     185
6       690        POND SEATTLE     185
7       817  SOLDIERS EVOLUTION     185
8       872   SWEET BROTHERHOOD     185
9       991        WORST BANGER     185
10      180   CONSPIRACY SPIRIT     184
11      198    CRYSTAL BREAKING     184
12      499      KING EVOLUTION     184
13      597     MOONWALKER FOOL     184
14      813     SMOOCHY CONTROL     184

## Close the connection to the database.
Always close the connection when you're done to free up resources.

In [11]:
# Close the connection
conn.close()